.work_wrapper h3 {
  font-family: "Syne", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
}

.list__item h4 {
  font-family: "Syne", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
}

.list__item:nth-child(even) {
  margin-top: 300px;
}

.list__item:nth-child(3n) {
  margin-top: -200px;
}