.work_wrapper {
  font-family: 'Montserrat', sans-serif;
}

.work_wrapper h3 {
  font-family: "Syne", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
  margin-bottom: 32px;
}

.list__item h2 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
}

.list__item h4 {
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  padding-top: 32px;
}

.list__item a {
  color: #6225E6;
  font-weight: 400;
  text-transform: capitalize;
}
