.navbar {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.menu li a {
    padding: 0 33px;
}

.menu li a:hover {
    background: none;

}

.menu li a:focus {
    background: none;
}

.logo {
    font-family: 'Zen Dots';
}
