#banner {
  height: 100vh;
}

.banner_wrapper h1 {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  line-height: 50px;
}
.custom__btn {
  height: 2.8em;
  width: 9em;
  background: #6225E6;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  /* border: 2px solid #6225E6; */
  outline: none;
  color: #fff;
  font-size: 17px;
 }
 
 .custom__btn:hover {
  background: #6225E6;
  color: #ffffff;
  animation: squeeze3124 0.9s both;
 }
 
 @keyframes squeeze3124 {
  0% {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
 
  30% {
   -webkit-transform: scale3d(1.25, 0.75, 1);
   transform: scale3d(1.25, 0.75, 1);
  }
 
  40% {
   -webkit-transform: scale3d(0.75, 1.25, 1);
   transform: scale3d(0.75, 1.25, 1);
  }
 
  50% {
   -webkit-transform: scale3d(1.15, 0.85, 1);
   transform: scale3d(1.15, 0.85, 1);
  }
 
  65% {
   -webkit-transform: scale3d(0.95, 1.05, 1);
   transform: scale3d(0.95, 1.05, 1);
  }
 
  75% {
   -webkit-transform: scale3d(1.05, 0.95, 1);
   transform: scale3d(1.05, 0.95, 1);
  }
 
  100% {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
 }
 