#banner {
  height: 100vh;
}

.banner_wrapper h1 {
  font-family: 'Syne', sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 52px;
}

/* .bttn {
    background-color: #fff;
    color: #000;
    display: inline-block;
    width: 156px;
    height: 67px;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
    padding: 1rem;
  } */

/* btn-effect-1 */

/* .btn-effect-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ececec;
    border-radius: 0.25rem;
    z-index: -1;
    transition: all ease-in-out 0.3s;
  }
  
  .btn:hover {
    color: #000;
  }
  
  .btn-effect-1:hover::before {
    width: 100%;
  }
   */


   button {
    padding: 1em 2.5em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    color: #fff;
    background-color: hsl(261deg 80% 48%);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: hsl(261deg 80% 48%);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
