.about_brief h3 {
  font-family: "Syne", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
}

.about_brief p {
  font-family: 'Montserrat', sans-serif;
  margin: 14px 0;
  text-align: left;
  box-shadow: none;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}
