.about_brief h3 {
  font-family: "Syne", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.about_brief p {
  margin: 14px 0;
  text-align: left;
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.2rem;
}
