.about_brief h3 {
  font-family: "Syne", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.about_brief p {
  font-family: 'Ubuntu', sans-serif;
  margin: 14px 0;
  text-align: left;
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}
