.cursor {
  height: 20px;
  width: 20px;
  background-color: #111;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
.Hover-This {
  Transition: All 0.3s Ease;
}
.Hover-This:hover ~ .Cursor {
  Transform:translate(-50%, -50%) Scale(8);
}

* {
  cursor: none;
}